# Business Case: Based on given features we need to find whether an employee will leave the company or not.

In [1]:
%pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (4.16.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scipy<1.16,>=1.4.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (1.15.3)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (2.3.0)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (2.11.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (2.1.3)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (0.14.4)
Requirement already satisfied: typeguard<5,>=3 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from ydata-profiling) (0.61.0)
Requirement already satisfied: PyWavelets in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.8.0)
Requirement already satisfied: pillow in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (11.2.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.5.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata-profiling) (4.14.0)
Requirement already satisfied: typing-inspection>=0.4.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from pydantic>=2->ydata-profiling) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.1.31)
Requirement already satisfied: patsy>=0.5.6 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: colorama in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.5)
Requirement already satisfied: puremagic in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.29)
Requirement already satisfied: six>=1.5 in c:\users\adity\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from ydata_profiling import ProfileReport
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder,OrdinalEncoder
import warnings
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer
import pickle
from sklearn.pipeline import Pipeline
%matplotlib inline
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("HR.csv")

In [4]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
pd.set_option('display.max_columns', None)
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

# Domain Analysis

Age – Indicates the employee’s age; may correlate with experience and turnover rate.

Attrition – Target variable showing whether the employee left the company (Yes/No).

BusinessTravel – Frequency of work-related travel; high travel may increase attrition.

DailyRate – Daily wage rate; may reflect pay satisfaction.

Department – Functional area (e.g., Sales, R&D); helps analyze attrition by department.

DistanceFromHome – Distance from home to workplace; long commutes can affect retention.

Education – Education level (1 to 5); may affect job fit and growth expectations.

EducationField – Field of study; helps evaluate job-role relevance.

EmployeeCount – Always 1 (constant); often dropped as it holds no variability.

EmployeeNumber – Unique ID; used for identification, not analysis.

EnvironmentSatisfaction – Satisfaction with work environment (1–4); impacts retention.

Gender – Male or Female; used for diversity and bias analysis.

HourlyRate – Wage per hour; financial factor that may influence satisfaction.

JobInvolvement – Level of job engagement (1–4); low involvement may lead to attrition.

JobLevel – Position level in hierarchy; correlates with salary, responsibilities.

JobRole – Job title/role; useful to spot attrition trends by role.

JobSatisfaction – Satisfaction with job (1–4); highly predictive of attrition.

MaritalStatus – Marital status (Single/Married/Divorced); may influence stability.

MonthlyIncome – Monthly salary; critical for understanding pay satisfaction.

MonthlyRate – Monthly wage rate; less useful if redundant with MonthlyIncome.

NumCompaniesWorked – Total companies worked for; indicates job-hopping tendency.

Over18 – Always "Y"; redundant for analysis.

OverTime – Whether employee works overtime; overtime stress may raise attrition.

PercentSalaryHike – Last salary hike percentage; reflects reward and motivation.

PerformanceRating – Performance score (1–4); high performers may expect growth.

RelationshipSatisfaction – Satisfaction with coworkers/managers (1–4); influences engagement.

StandardHours – Constant (usually 80); not useful due to lack of variation.

StockOptionLevel – Employee stock option benefit (0–3); can affect retention.

TotalWorkingYears – Total years of experience; gives seniority insights.

TrainingTimesLastYear – Number of trainings; reflects learning opportunities.

WorkLifeBalance – Perceived balance (1–4); poor balance increases attrition risk.

YearsAtCompany – Tenure at company; shorter tenures often show higher attrition.

YearsInCurrentRole – Time in current job role; stagnation may impact satisfaction.

YearsSinceLastPromotion – Time since last promotion; delays may demotivate.

YearsWithCurrManager – Time with current manager; long relationships may increase retention.